{% extends "layout/base.html" %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li>User</li>
{% endblock %}
{% load i18n %}
{% load static %}
{% block title %}{{ user }}{% endblock %}
{% block content_header %}<h1 class="page-title text-center">Members</h1>{% endblock %}
{% block content %}
	<section class="small-12 account-information">
		<div class="row small-12">
			<div class="column small-4">
				<img alt="{{ user }}" src="{% if user.profile.image is None %}{% static 'img/avatar.png' %}"{% else %}
					{{ user.profile.image.crop.175x175 }}{% endif %}">
			</div>
			<div class="column small-8">
				<h2>
					{% if user.last_name is None %}{{ user }}{% else %}{{ user.first_name }}
						{{ user.last_name }}{% endif %}
				</h2>
				<p class="bio">{{ user.profile.extra.bio }}</p>
			</div>
		</div>
	</section>
{% endblock %}
{% block sidebar %}
{% endblock %}
