{% extends "layout/base.html" %}{% load custom_tags %}
{% block title %}{{ compare.first.name }} and {{ compare.second.name }} comparison{% endblock %}
{% block description %}Compargram is a web application for comparison. We want to give you specific, accurate
    information to help you make the most informed choices about: vehicle, food, service...{% endblock %}
{% block content %}
    <section class="row">
        <div class="column column-block">
            <h1 class="page-title text-center small-12">{{ compare.first.name }} and {{ compare.second.name }}
                comparison</h1>
            <div class="small-12">
                <table>
                    <tbody>
                    <tr>
                        <th width="20%">
                            <img src="{{ classify.image.path.crop.400x400 }}" alt="{{ classify.name }}">
                        </th>
                        <td width="40%" class="img-fit">
                            <div class="row border-box">
                                <div class="columns small-4">
                                    <img src="{{ compare.first.photos.featured.path.crop.400x400 }}" alt="{{ compare.first.name }}">
                                    <a href="/{{ classify.slug }}/{{ compare.first.slug }}">{{ compare.first.name }}</a>
                                </div>
                                <div class="columns">{{ compare.first.description }}</div>
                            </div>
                        </td>
                        <td width="40%" class="img-fit">
                            <div class="row border-box">
                                <div class="columns small-4">
                                    <img src="{{ compare.second.photos.featured.path.crop.400x400 }}" alt="{{ compare.second.name }}">
                                    <a href="/{{ classify.slug }}/{{ compare.second.slug }}">{{ compare.second.name }}</a>
                                </div>
                                <div class="columns">{{ compare.second.description }}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>{% for data in compare.data %}
                <h2>{{ data.name }}</h2>{% for s_data in data.data %}
                    <table id="fruit" class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="3">{{ s_data.name }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th width="20%">{{ s_data.name }}</th>
                            <td width="40%">{% get_data_value data=s_data order="first" %}</td>
                            <td width="40%">{% get_data_value data=s_data order="second" %}</td>
                        </tr>{% for r_data in s_data.data %}
                        <tr>
                            <th width="20%">{{ r_data.name }}</th>
                            <td width="40%">{{ r_data.first }}</td>
                            <td width="40%">{{ r_data.second }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>{% endfor %}{% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
