{% extends "layout/base.html" %}{% load custom_tags %}
{% block breadcrumb %}
    <li>Home</li>{% endblock %}
{% block title %}{{ item.name }} - {{ classify.name }}{% endblock %}
{% block description %}{{ item.description }}{% endblock %}
{% block content %}
    <div class="row mt-20">
        <div class="columns small-12 medium-6">
            <h1>{{ item.name }}</h1>
            <div id="model_gallery">
                <swiper :options="swiperOption">{% for gallery in item.photos.list_images %}
                    <swiper-slide class="slide-1">
                        <img src="{{ gallery.image.path.crop.400x400 }}"/>
                    </swiper-slide>{% endfor %}
                    <div class="swiper-pagination" slot="pagination"></div>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                </swiper>
            </div>
            <p>{{ item.description }}</p>
            <p><a class="custom-button buy-amz" href=""><i class="fa fa-amazon"></i> Buy Now</a></p>
            <h2>{{ item.name }} compare</h2>
            <div class="row small-up-2 small-12 compare-list">{% for compare in item.related_compare %}
                <div class="column column-block">
                    <div class="compare-card">
                        <div class="small-12 compare-card-top">
                                <span class="model-icon">
                                    <img src="{{ compare.first.photos.featured.path.crop.64x64 }}">
                                </span>
                            <span><i class="fa fa-compress" aria-hidden="true"></i></span>
                            <span class="model-icon">
                                    <img src="{{ compare.second.photos.featured.path.crop.64x64 }}">
                                </span>
                        </div>
                        <div class="small-12 compare-card-middle">
                            <a href="/{{ classify.master_parent.slug }}/{{ compare.first.slug }}-and-{{ compare.second.slug }}">{{ compare.first }}
                                and {{ compare.second }}</a>
                        </div>
                        <div class="small-12 compare-card-bottom">
                            <a href="/{{ classify.master_parent.slug }}/{{ compare.first.slug }}-and-{{ compare.second.slug }}">See
                                compare</a>
                        </div>
                    </div>
                </div>{% endfor %}
            </div>
        </div>
        <div class="columns small-12 medium-6 compare-list">
            <table>
                <thead>
                <tr>
                    <th width="30%">Field</th>
                    <th width="70%">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for data in item.data %}
                    <tr>
                        <th class="text-left">{{ data.name }}</th>
                        <td>{% get_data_value data=data order="none" %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
