{% extends "index.html" %}
{% load static %}
{% load custom_tags %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li><a href="/{{ name }}">{{ name }}</a></li>
	<li>{{ first.name }} and {{ second.name }} comparison</li>
{% endblock %}
{% load i18n %}
{% block title %}{{ first.name }} and {{ second.name }} comparison{% endblock %}
{% block description %}{{ first.name }} vs {{ second.name }} comparison on basis of {% get_meta_description fields %}{% endblock %}
{% block content_header %}<h1 class="page-title">{{ first.name }} and {{ second.name }} comparison</h1>{% endblock %}
{% block content %}
	<section class="row">
		<div class="small-12">
			<table class="table table-hover">
				<thead>
				<tr>
					<th class="text-right" width="40%"><a href="/{{ name }}/{{ first.slug }}">{{ first.name }}</a></th>
					<th class="text-center" width="20%">vs</th>
					<th class="text-left" width="40%"><a href="/{{ name }}/{{ second.slug }}">{{ second.name }}</a></th>
				</tr>
				</thead>
				<tbody>{% if first.gallery is not None or second.gallery is not None %}
					<tr>
						<td class="img-fit"><img src="{{ first.gallery.featured.path.crop.400x400 }}"></td>
						<th>Photo</th>
						<td class="img-fit"><img src="{{ second.gallery.featured.path.crop.400x400 }}"></td>
					</tr>{% endif %}
					<tr>
						<td width="40%" class="text-right">{% get_description properties=first.properties %}</td>
						<th width="20%">{{ data }}</th>
						<td width="40%" class="text-left">{% get_description properties=second.properties %}</td>
					</tr>
					<tr id="action_like">
						<td class="text-right">
							<like :name="'{{ name }}'" :slug="'{{ first.slug }}'"></like>
						</td>
						<th class="text-center">Vote</th>
						<td class="text-left">
							<like :name="'{{ name }}'" :slug="'{{ second.slug }}'"></like>
						</td>
					</tr>
				</tbody>
			</table>{% for class in classes %}
			<h2>{{ class }}'s properties</h2>{% for field in fields %}{% if field.classify.id == class.id %}
			<table id="{{ field.name | slugify }}" class="table table-hover">
				<thead>
				<tr>
					<th colspan="3">{{ field.name }}</th>
				</tr>
				</thead>
				<tbody>{% for data in field.data %}{% if data != "Description" %}
					<tr>
						<td width="40%" class="text-right">{% get_value properties=first.properties field=data subclass=field.name %}</td>
						<th width="20%">{{ data }}</th>
						<td width="40%" class="text-left">{% get_value properties=second.properties field=data subclass=field.name %}</td>
					</tr>{% endif %}{% endfor %}
				</tbody>
			</table>{% endif %}{% endfor %}{% endfor %}
		</div>
	</section>{% if request.user.is_authenticated %}
	<section id="review_form" class="review_form">
		<div class="small-12">
			<p>
				<button class="button" data-toggle="add_review">Add review!</button>
			</p>
			<div class="full reveal model-review-form" id="add_review" data-reveal>
				<div class="modal-dialog model-review-centered" role="document">
					<div class="modal-title">
						<h2>Add review</h2>
					</div>
					<div class="modal-content">
						<form method="POST">
							{% csrf_token %}
							<label>Title
								<input type="text" name="review_title" placeholder="Title">
							</label>
							<label>Content
								<textarea id="review_content_add" name="review_content" class="review_content"
								          placeholder="None"
								          rows="4"></textarea>
							</label>
							<button class="button" name="submit" value="add">Submit</button>
						</form>
					</div>
				</div>
				<button class="close-button" data-close aria-label="Close reveal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</section>{% endif %}
	<section id="review">{% for review in reviews %}
	<div id="review-{{ review.id }}" class="grid-x grid-margin-x review">
		<div class="small-2 cell">
			<img src="{% if review.user.profile.image is None %}{% static 'img/avatar.png' %}" alt="{{ user }}{% else %}{{ review.user.profile.image.crop.175x175 }}{% endif %}">
		</div>
		<div class="auto cell review-content">
			<h3 class="review-title"><b>{{ review.title }}</b></h3>{% if request.user.id == review.user.id %}
			<span>By: <a href="/member/{{ review.id }}"><b class="author_name">{{ review.user }}</b></a></span>
			<span>(<a href="#" data-toggle="edit_review_{{ review.id }}">edit</a>)</span>
			<div class="full reveal model-review-form" id="edit_review_{{ review.id }}" data-reveal>
				<div class="modal-dialog model-review-centered" role="document">
					<div class="modal-title">
						<h2>Edit review</h2>
					</div>
					<div class="modal-content">
						<form method="POST">
							{% csrf_token %}
							<input type="hidden" name="review_id" value="{{ review.id }}">
							<label>Title
								<input type="text" name="review_title" placeholder="Title"
								       value="{{ review.title }}">
							</label>
							<label>Content
								<textarea id="review_content_{{ review.id }}" class="review_content"
								          name="review_content"
								          placeholder="None"
								          rows="4">{{ review.content }}</textarea>
							</label>
							<button class="button" name="submit" value="edit">Save</button>
							<button class="button" name="submit" value="delete">Delete</button>
						</form>
					</div>
				</div>
				<button class="close-button" data-close aria-label="Close reveal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>{% endif %}
			<div>{{ review.content | safe }}</div>
		</div>
	</div>{% endfor %}
{% endblock %}
{% block menu %}
	<button type="button" class="button sidebar-button" data-toggle="offCanvasLeft">
		<i class="fa fa-bars"></i>
	</button>
	<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
	<h4>Content Navigation</h4>
		<ul class="sidebar-menu" data-smooth-scroll>{% for class in classes %}
			<li><a href="#{{ class.name |slugify }}"><i class="fa fa-angle-right"></i> {{ class.name }}</a>
				<ul class="menu vertical nested">{% for field in fields %}{% if field.classify.id == class.id %}
					<li>
						<a href="#{{ field.name | slugify }}"><i class="fa fa-angle-right"></i> {{ field.name }}</a>
					</li>{% endif %}{% endfor %}
				</ul>{% endfor %}
			</li>
		</ul>
	</div>
{% endblock %}
{% block script %}
	<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
	<script>
		$(function () {
			$('.review_content').each(function (e) {
				CKEDITOR.replace(this.id);
			});
		});
	</script>
{% endblock %}