{% extends "index.html" %}
{% load custom_tags %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li><a href="/{{ name }}">{{ name }}</a></li>
	<li><a href="/{{ name }}/compare">Compare</a></li>
	<li>{{ first }} and {{ second }}</li>
{% endblock %}
{% load i18n %}
{% block title %}{{ first }} and {{ second }} comparison{% endblock %}
{% block content_header %}<h1 class="page-title">{{ first }} and {{ second }} comparison</h1>{% endblock %}
{% block content %}
	<section class="row">
		<div class="row small-up-2 medium-up-3 large-up-3 small-12 compare-list">{% for a in test %}
			<div class="column column-block">
				<div class="compare-card">
						<div class="small-12 compare-card-top">
							<span class="model-icon"><img src="{{ a.0.gallery.featured.path.crop.400x400 }}"></span>
							<span><i class="fa fa-compress" aria-hidden="true"></i></span>
							<span class="model-icon"><img src="{{ a.1.gallery.featured.path.crop.400x400 }}"></span>
						</div>
						<div class="small-12 compare-card-middle">
							<a href="/{{ name }}/{{ a.0.slug }}-and-{{ a.1.slug }}">{{ a.0 }}
								and {{ a.1 }}</a>
						</div>
						<div class="small-12 compare-card-bottom">
							<a href="/{{ name }}/{{ a.0.slug }}-and-{{ a.1.slug }}">See compare</a>
						</div>
					</div>
				</div>{% endfor %}
			</div>
		<div class="small-12">
            {% include "layout/pagination.html" with pages=test %}
        </div>
	</section>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block menu %}{% endblock %}