{% extends "model/model_show.html" %}
{% block breadcrumb %}{{ block.super }}{% load breadcrumb_tags %}{% add_crumb 'Edit' 'human_show' person.slug %}{% endblock %}
{% load static %}
{% block title %}Confirm to delete "{{ model.name }}"{% endblock %}
{% block content_header %}<h1 class="page-title">Confirm to delete "{{ model.name }}"</h1>{% endblock %}
{% block content %}<section>
	<form method="POST" action="">
		{% csrf_token %}
		<button class="button">Delete</button>
	</form>
                    </section>{% endblock %}
{% block script %}
{% endblock %}