{% extends "index.html" %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li><a href="/{{ name }}">{{ name }}</a></li>
	<li>Filter</li>
{% endblock %}
{% load i18n %}
{% block title %}{{ name | title }} Filter{% endblock %}
{% block content_header %}<h1 class="page-title">{{ name | title }} Filter</h1>{% endblock %}
{% block content %}
	{{ datax }}
	<section>
		<div class="small-12">{% for classify in classifies %}
			<h2 class="card-title">
				<a href="filter/category/{{ classify.name|slugify }}">{{ classify.name }}</a>
			</h2>
			<div class="row small-up-3 medium-up-4 large-up-4 small-12 tag-list">{% for field in fields %}{% if field.classify.name ==  classify.name %}{% for data in field.data %}
				<div class="column column-block tag-item">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<a href="filter/{{ data|slugify }}">{{ data }}</a>
				</div>{% endfor %}{% endif %}{% endfor %}
			</div>{% endfor %}
		</div>
	</section>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block menu %}{% endblock %}