{% extends "model/model_show.html" %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li><a href="/{{ name }}">{{ name }}</a></li>
	<li><a href="/{{ name }}/{{ model.slug }}">{{ model.name }}</a></li>
	<li>Edit</li>
{% endblock %}
{% load static %}
{% block title %}Edit {{ model.name }}{% endblock %}
{% block content_header %}<h1 class="page-title">Edit {{ model.name }}</h1>{% endblock %}
{% block content %}<section>
                        <div id="model_handle">
                            <model-handle :model_name="'{{ name }}'" id="{{ model.id }}" :action="'edit'"></model-handle>
                        </div>
                    </section>{% endblock %}
{% block script %}
{% endblock %}