{% extends "layout/base.html" %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li>Media</li>
{% endblock %}
{% load i18n %}
{% block title %}Media library{% endblock %}
{% block description %}Compargram.com's media library{% endblock %}
{% block content_header %}<h1 class="page-title">Media Library</h1>{% endblock %}
{% block content %}
	<section class="media row">
		<div class="list-model row small-up-2 medium-up-3 large-up-3 small-12">{% for gallery in galleries %}
			<div class="column column-block model">
				<div class="featured-image">
					<img src="{{ gallery.featured.path.crop.400x400 }}" alt="{{ gallery.title }}">
				</div>
				<div class="caption">
					<h2 class="model_title"><a href="/media/gallery/{{ gallery.slug }}">{{ gallery.title }}</a></h2>
				</div>
			</div>{% endfor %}
		</div>
		<div class="small-12">
            {% include "layout/pagination.html" with pages=galleries %}
        </div>
	</section>
{% endblock %}
{% block sidebar %}
	<section class="widget first">
		<div class="wrap">
			<div class="widget-body">
				<a class="button expanded" href="/media/all">All Media</a>
				<a class="button expanded" href="/media/gallery">Gallery</a>
			</div>
		</div>
	</section>
{% endblock %}