{% extends "layout/base.html" %}
{% block breadcrumb %}
    <li>Home</li>{% endblock %}
{% block title %}Compargram.com - Compare everything{% endblock %}
{% block description %}Compargram is a web application for comparison. We want to give you specific, accurate
    information to help you make the most informed choices about: vehicle, food, service...{% endblock %}
{% block content %}
    <div>
        <h1 class="page-title site-title text-center">
            COMPARGRAM.COM
        </h1>
        <section id="compare-box" class="compare-search">
        </section>
        <section>{% for classify in classifies %}
            <div class="row mt-30">
                <div class="columns small-12 medium-6">
                    <h2>{{ classify.name }}</h2>
                    <p>{{ classify.description }}</p>
                    <p><a href="/{{ classify.slug }}" class="custom-button">View all ›</a></p>
                </div>{% for compare in classify.compare_list %}
                <div class="columns small-6 medium-3 compare-list">
                    <div class="compare-card">
                        <div class="small-12 compare-card-top">
                            <span class="model-icon">
                                <img src="{{ compare.first.photos.featured.path.crop.64x64 }}" alt="{{ compare.first.name }}">
                            </span>
                            <span><i class="fa fa-compress" aria-hidden="true"></i></span>
                            <span class="model-icon">
                                <img src="{{ compare.second.photos.featured.path.crop.64x64 }}" alt="{{ compare.second.name }}">
                            </span>
                        </div>
                        <div class="small-12 compare-card-middle">
                            <a href="/{{ classify.slug }}/{{ compare.slug }}">{{ compare.first.name }} vs {{ compare.second.name }}</a>
                        </div>
                        <div class="small-12 compare-card-bottom">
                            <a href="/{{ classify.slug }}/{{ compare.slug }}">See compare</a>
                        </div>
                    </div>
                </div>{% endfor %}
            </div>{% endfor %}
        </section>
    </div>
{% endblock %}
