{% extends "layout/base.html" %}
{% block breadcrumb %}
	<li><a href="/">Home</a></li>
	<li>{{ name }}</li>
{% endblock %}
{% load i18n %}
{% load custom_tags %}
{% block title %}{{ name | title }}{% endblock %}
{% block content_header %}{% endblock %}
{% block content %}
	<div class="grid-x small-12">
		<div class="small-6 cell"><h1 class="page-title">{{ name | title }}</h1></div>
		<div class="auto cell float-right">
			<a class="button small float-right" href="create">Create</a>
			<a class="button small float-right" href="filter">Filter</a>
			<a class="button small float-right" href="compare">Compare</a>
		</div>
	</div>
	<section>
		<div class="row small-12">{% for object in object_list %}
			<div class="object grid-x grid-margin-x small-12">
				<div class="featured-image small-4 cell">{% if object.gallery is not None %}
					<img alt="{{ object.name }}" src="{{ object.gallery.featured.path.crop.400x400 }}"/>{% endif %}
				</div>
				<div class="caption auto cell">
					<h2 class="model_title"><a href="/{{ name }}/{{ object.slug }}">{{ object.name }}</a></h2>
					<p>{% get_description object.properties %}</p>
				</div>
			</div>{% endfor %}
		</div>
		<div class="small-12">
            {% include "layout/pagination.html" with pages=object_list %}
        </div>
	</section>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block menu %}{% endblock %}