<!doctype html>
<html lang="en">
<head>{% load static %}{% load custom_tags %}{% classifies as classifies %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Compargram.com</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" type="image/png" href="/media/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
    <link href="{% static 'css/app.cbd965a05ec0f2b0ab531fcec3f11853.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
    {% block style %}{% endblock %}
</head>
<body>
<div id="main-site" class="wrapper off-canvas-content" data-off-canvas-content>
    <header>
        <div class="inner">
            <div class="logo">
                <a href="/">Compargram<span>.com</span></a>
            </div>
            <div class="responsive-menu" data-responsive-toggle="example-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            </div>
            <nav class="top-bar" data-responsive-menu="accordion medium-dropdown" id="example-menu">
                <ul class="vertical medium-horizontal menu top-bar-left"
                    data-responsive-menu="accordion medium-dropdown">
                    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Compare" data-is-click="false">
						<a href="#">Menu</a>
						<ul class="vertical menu is-dropdown-submenu submenu first-sub" data-submenu="" role="menu" style="">{% for classify in classifies %}
							<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/{{ classify.slug }}">{{ classify.name }}</a></li>{% endfor %}
						</ul>
					</li>
                    <li><a href="/member">Member</a></li>
                </ul>
                <ul class="vertical medium-horizontal menu top-bar-right dropdown"
                    data-responsive-menu="accordion medium-dropdown">
                    <li class="is-dropdown-submenu-parent opens-right">
                        <a href="" class="account">Account</a>
                        <ul class="vertical menu is-dropdown-submenu submenu first-sub">{% if not request.user.is_authenticated %}
                            <li><a href='/member/register/'>Register</a></li>
                            <li><a href='/member/login/'>Login</a></li>{% else %}
                            <li><a href="/member/{{ request.user.id }}">Welcome {{ request.user }}</a></li>
                            <li><a href="/create/">Create</a></li>
                            <li><a href="/member/logout/">Logout</a></li>{% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="inner">
            {% block content_header %}{% endblock %}
            {% block content %}{% endblock %}
		</div>
    </main>
    <footer>
        <div class="inner">
            <p class="credit">Compargram.com © All rights reserved.</p>
        </div>
    </footer>
    <a data-smooth-scroll class="top-button" href="#main-site">
        <i class="fa fa-chevron-circle-up"></i>
    </a>
</div>
{% block menu %}{% endblock %}
<script src="{% static '/js/manifest.2ae2e69a05c33dfc65f8.js' %}"></script>
<script src="{% static '/js/vendor.0db25ec75e95751cd3e7.js' %}"></script>
<script src="{% static '/js/app.7458694b555a41359624.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
